## Filtering Dataframe

In [7]:
import pandas as pd

titanic_df = pd.read_csv("Titanic_data.csv")

In [8]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
titanic_df.shape

(891, 12)

### Condition Based Filtering

In [18]:
fare_filter = titanic_df[ titanic_df.Fare > 100 ]

In [19]:
fare_filter.shape

(53, 12)

In [22]:
sex_filter = fare_filter[ fare_filter.Sex == "female" ]

In [23]:
sex_filter.shape

(34, 12)

In [29]:
sex_fare = titanic_df[ (titanic_df.Fare > 100) & (titanic_df.Sex == "female")]

In [32]:
sex_fare.shape

(34, 12)

In [25]:
## Why nearly 65% of highest paying customer are female in 1912 ?